---
http_interactions:
- request:
    method: get
    uri: http://nthuion.kktix.cc/events.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"323900e7a77fd2ed27ade6f15d0163b9"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"title":"\u6e05\u96e2\u5b50 \u8fd1\u671f\u516c\u958b\u6d3b\u52d5 -
        KKTIX","updated":"2016-10-28T16:19:17.762+08:00","entry":[{"url":"http://nthuion.kktix.cc/events/nthuion-hackath0n","published":"2016-10-30T08:50:00.000+08:00","title":"\u6e05\u96e2\u5b50\u9ed1\u5ba2\u677e","summary":"\u6e05\u96e2\u5b50\u9ed1\u5ba2\u677e\u662f\u4e00\u5834\u4ee5\u89e3\u6c7a\u6e05\u5927\u6821\u5712\u554f\u984c\u70ba\u5c0e\u5411\u7684\u6821\u5167\u9ed1\u5ba2\u677e\u3002\u6211\u5011\u5e0c\u671b\u805a\u96c6\u6821\u5712\u4e2d\u7684\u5404\u8def\u597d\u6f22\u8207\u597d\u9ede\u5b50\uff0c\u904b\u7528\u5927\u5bb6\u6240\u5b78\u7684\u80fd\u529b\uff0c\u6539\u5584\u89e3\u6c7a\u6821\u5712\u4e2d\u7684\u5404\u7a2e\u554f\u984c\uff0c\u767c\u63ee\u7a4d\u6c99\u6210\u5854\u3001\u5929\u99ac\u884c\u7a7a\u7684\u7121\u7aae\u529b\u91cf\u3002","content":"\u6642\u9593\uff1a2016/10/30
        08:50(+0800)~18:00\n\u5730\u9ede\uff1a\u570b\u7acb\u6e05\u83ef\u5927\u5b78\u8cc7\u96fb\u9928
        / \u65b0\u7af9\u5e02\u5149\u5fa9\u8def\u4e8c\u6bb5101\u865f","author":{"name":"\u6e05\u96e2\u5b50","uri":"http://nthuion.cs.nthu.edu.tw/"}},{"url":"http://nthuion.kktix.cc/events/nthuion-hackath0n-old","published":"2016-09-28T08:50:00.000+08:00","title":"\u6e05\u96e2\u5b50\u9ed1\u5ba2\u677e","summary":"\u6e05\u96e2\u5b50\u9ed1\u5ba2\u677e\u662f\u4e00\u5834\u4ee5\u89e3\u6c7a\u6e05\u5927\u6821\u5712\u554f\u984c\u70ba\u5c0e\u5411\u7684\u6821\u5167\u9ed1\u5ba2\u677e\u3002\u6211\u5011\u5e0c\u671b\u805a\u96c6\u6821\u5712\u4e2d\u7684\u5404\u8def\u597d\u6f22\u8207\u597d\u9ede\u5b50\uff0c\u904b\u7528\u5927\u5bb6\u6240\u5b78\u7684\u80fd\u529b\uff0c\u6539\u5584\u89e3\u6c7a\u6821\u5712\u4e2d\u7684\u5404\u7a2e\u554f\u984c\uff0c\u767c\u63ee\u7a4d\u6c99\u6210\u5854\u3001\u5929\u99ac\u884c\u7a7a\u7684\u7121\u7aae\u529b\u91cf\u3002","content":"\u6642\u9593\uff1a2016/09/28
        08:50(+0800)~18:00\n\u5730\u9ede\uff1a\u570b\u7acb\u6e05\u83ef\u5927\u5b78\u8cc7\u96fb\u9928
        / \u65b0\u7af9\u5e02\u5149\u5fa9\u8def\u4e8c\u6bb5101\u865f","author":{"name":"\u6e05\u96e2\u5b50","uri":"http://nthuion.cs.nthu.edu.tw/"}}]}'
  recorded_at: Fri, 28 Oct 2016 08:19:17 GMT
- request:
    method: get
    uri: https://kktix.com/events.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee6c7189f6b6934c7e2e383ce9f60861"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"title":"\u63a2\u7d22\u6d3b\u52d5 - KKTIX","updated":"2016-10-28T16:19:18.025+08:00","entry":[{"url":"ht[...]
- request:
    method: get
    uri: http://notexist.kktix.cc/events.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Fri, 28 Oct 2016 08:19:18 GMT
recorded_with: VCR 3.0.3
